= render partial: 'books/header'

.top-wrapper
  #myTabContent.tab-content
    #home.tab-pane.fade.show.pt-3.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
      .row
        .col-3

          #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
            %a#v-pills-home-tab.nav-link.active{"aria-controls" => "v-pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-home", :role => "tab"} ジャンル別読了グラフ
            %a#v-pills-profile-tab.nav-link{"aria-controls" => "v-pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-profile", :role => "tab"} 期間別読了グラフ
            %a#v-pills-messages-tab.nav-link{"aria-controls" => "v-pills-messages", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-messages", :role => "tab"} 登録済み書籍一覧
            .home__contents
              .card{:style => "width: 20rem;"}
                .card-body
                  %h5.card-title 読んだ本
                  %p.card-text 
                    = @readover
              .card{:style => "width: 20rem;"}
                .card-body
                  %h5.card-title 積読本
                  %p.card-text
                    = @stock
              .card{:style => "width: 20rem;"}
                .card-body
                  %h5.card-title 欲しい本
                  %p.card-text
                    = @wants
        .col-9
          #v-pills-tabContent.tab-content.pt-4
            #v-pills-home.tab-pane.fade.show.active.p1.d-flex.reading-contents{"aria-labelledby" => "v-pills-home-tab", :role => "tabpanel"}
              .chart
                %canvas#pieChart{:height => "400", :width => "400"}
                  :javascript
                    draw_graph();
              %table.table.table-striped.reading-contents__index
                %thead
                  %tr
                    %th{:scope => "col"} 最近読んだ本
                    %th{:scope => "col"} タイトル
                    %th{:scope => "col"} 著者
                %tbody
                - @reading_books.each do |reading_book|
                  %tr
                    %th{:scope => "row"}
                      = reading_book.updated_at.strftime("%Y-%m-%d")
                    %td
                      = reading_book.book.title
                    %td
                      = reading_book.book.author.name

            #v-pills-profile.tab-pane.fade.p2.d-flex.reading-contents{"aria-labelledby" => "v-pills-profile-tab", :role => "tabpanel"}
              .chart
                %canvas#barChart{:height => "400", :width => "400"}
                  :javascript
                    draw_graph();
            #v-pills-messages.tab-pane.fade.p3.graph{"aria-labelledby" => "v-pills-messages-tab", :role => "tabpanel"}
            #v-pills-settings.tab-pane.fade.p4.graph{"aria-labelledby" => "v-pills-settings-tab", :role => "tabpanel"}