= render partial: 'books/header'


.books-form
  = form_with model:@book, local: true do |f|
    .books-form__contents
      .books-form__contents__item
        = f.label :タイトル, for: "select1", class: "input-value"
        .books-form__contents__item--title
        = f.text_field :title, placeholder: '本のタイトルを入力して下さい', id: "select1"
      .books-form__contents__item
        = f.label :著者, for: "select2", class: "input-value"
        .books-form__contents__item--author
        = f.text_field :author_id, placeholder: '著者を入力して下さい', id: "author_search_field"
      #author-search-result
        .form-group.test_layout
      .books-form__contents__item
        = f.label :ジャンル, for: "select3", class: "input-value"
        .books-form__contents__item--genre
        = f.select :genre_id, Genre.all.map{|g| [g.genre, g.id]}, id: "Select3 ", class: "genre-select"
      .books-form__contents__item
        = f.label :出版社, for: "select4", class: ".input-value"
        .books-form__contents__item--publisher
        = f.select :publisher_id, Publisher.all.map{|j| [j.publisher, j.id]}, id: "select4 publish-select"
      .books-form__contents__item
        = f.submit :登録する, class: "submit"