= render partial: 'books/header'

.book-wrapper.d-flex

  .book-wrapper__left
    .book-wrapper__left--title.mt-3
      .card{:style => "width: 25rem;"}
        %ul.list-group.list-group-flush
          %li.list-group-item
            = @book.title
          

    .book-wrapper__left--author.mt-3
      .card{:style => "width: 25rem;"}
        %ul.list-group.list-group-flush
          %li.list-group-item
            = link_to author_path, class: ".list-group-item__author" do
              = @book.author.name

    .book-wrapper__left--btn.d-flex.flex-column
      = link_to register_register_path(@book), class: ".list-group-item__author" do
        %button.book--btn.btn.btn.btn-primary.btn-lg.mt-3{:type => "button", :style => "width: 15rem;"} My本棚に入れる


  .book-wrapper__right
    .book-wrapper__right--relation.row
      .book-wrapper__right--relation--item.col-3
        %p.book-wrapper__right--relation--item--title タイトル
        %p.book-wrapper__right--relation--item--genre ジャンル



    .book-wrapper__right--review
      - @tweet.each do |tweet|
        %blockquote.twitter-tweet.tw-align-center{"data-cards" => "hidden", "data-lang" => "ja"}
          = link_to '',tweet[:tweet_link], target: :_blank
      = javascript_include_tag '//platform.twitter.com/widgets.js', charset: 'utf-8', async: 'async'